<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

  <targets>
    <target xsi:type="File"
        name="logFile"
        fileName="asvlog.log"
        archiveFileName="asvlog.{#}.log"
        archiveEvery="Hour"
        archiveDateFormat="yyyyMMddHH"
        archiveNumbering="Date"
        maxArchiveFiles="3"
        layout="${longdate}|${level:uppercase=true}|${message}${exception:format=ToString,StackTrace}"
     />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logFile" />
  </rules>
</nlog>